---
import Page from "../components/Page.astro";
import ThreeColumnLayout from "../components/ThreeColumnLayout.astro";
import { getEntry, render } from "astro:content";
import WritingContent from "../components/WritingContent.astro";

const contact = await getEntry("root", "contact")!;
const { Content } = await render(contact);

export const prerender = true;
---

<Page title="Contact">
  <ThreeColumnLayout>
    <main class="center">
      <WritingContent><Content /></WritingContent>
    </main>
  </ThreeColumnLayout>
</Page>

<style is:global>
  h1 {
    @apply py-6;
  }
</style>
