---
import Page from "../components/Page.astro";
import ThreeColumnLayout from "../components/ThreeColumnLayout.astro";
import WritingContent from "../components/WritingContent.astro";
import BlankLink from "../components/BlankLink.astro";
import PrimaryHeader from "../components/PrimaryHeader.astro";
import { getEntry, render } from "astro:content";

const bio = await getEntry("root", "bio")!;
const { Content: Bio } = await render(bio);
---

<Page title="Home">
  <ThreeColumnLayout>
    <div class="center">
      <PrimaryHeader activeURL="/" />

      <section
        class="p-3 border border-gray-300 dark:border-gray-600 rounded-md mb-8"
      >
        <div
          class="text-sm text-gray-400 dark:text-gray-400 flex space-x-3 mb-2"
        >
          <span>25 dec, 2023</span>
          <span>@dhrjarun</span>
        </div>
        <WritingContent>
          <Bio />
        </WritingContent>

        <div class="space-x-4 text-sm">
          <a href="/about">About</a>
          <a href="/now">Now</a>
          {
            Object.entries(bio.data.links).map(([label, link]) => (
              <BlankLink href={link} target="_blank">
                {label}
              </BlankLink>
            ))
          }
        </div>
      </section>
    </div>
  </ThreeColumnLayout>
</Page>
