---
import Page from "../components/Page.astro";
import ThreeColumnLayout from "../components/ThreeColumnLayout.astro";
import WritingContent from "../components/WritingContent.astro";
import PrimaryHeader from "../components/PrimaryHeader.astro";
import { getEntry, render } from "astro:content";

const bio = await getEntry("root", "bio");

if (!bio) {
  throw new Error("Bio not found");
}

const { Content: Bio } = await render(bio);
---

<Page title="Home">
  <ThreeColumnLayout>
    <div class="center">
      <PrimaryHeader activeURL="/" />

      <section class="mb-8">
        <WritingContent>
          <Bio />
          <p>Read more about me on my <a href="/about">about</a> and <a href="/now">now</a> pages.</p>
        </WritingContent>
      </section>
    </div>
  </ThreeColumnLayout>
</Page>
