---
import Page from "../components/Page.astro";
import WritingContent from "../components/WritingContent.astro";
import { getEntry, render } from "astro:content";
import TCLayout from "../components/TCLayout.astro";

const bio = await getEntry("posts", "bio");

if (!bio) {
  throw new Error("Bio not found");
}

const { Content: Bio } = await render(bio);
---

<Page title="Home">
  <TCLayout>
    <header slot="header">
      <h1>{bio.data.title}</h1>
    </header>

    <WritingContent>
      <Bio />
    </WritingContent>
  </TCLayout>
</Page>
