---
import Page from "../components/Page.astro";
import ThreeColumnLayout from "../components/ThreeColumnLayout.astro";
import WritingContent from "../components/WritingContent.astro";
import BlankLink from "../components/BlankLink.astro";
import PrimaryHeader from "../components/PrimaryHeader.astro";
import { getEntry, render } from "astro:content";

const bio = await getEntry("root", "bio")!;
const { Content: Bio } = await render(bio);
---

<Page title="Home">
  <ThreeColumnLayout>
    <div class="center">
      <PrimaryHeader activeURL="/" />

      <section class="mb-8">
        <WritingContent>
          <Bio />
        </WritingContent>

        <div class="space-x-4 text-sm mt-2">
          <a href="/about">About</a>
          <a href="/now">Now</a>
          <a href="/rss.xml">RSS</a>
          {
            Object.entries(bio.data.links).map(([label, link]) => (
              <BlankLink href={link} target="_blank">
                {label}
              </BlankLink>
            ))
          }
        </div>
      </section>
    </div>
  </ThreeColumnLayout>
</Page>
