---
import Page from "../components/Page.astro";
import ThreeColumnLayout from "../components/ThreeColumnLayout.astro";
import WritingContent from "../components/WritingContent.astro";
import BlankLink from "../components/BlankLink.astro";
import PrimaryHeader from "../components/PrimaryHeader.astro";
import { getEntry, render } from "astro:content";

const bio = await getEntry("root", "bio")!;
const { Content: Bio } = await render(bio);
---

<Page title="Home">
  <ThreeColumnLayout>
    <div class="center">
      <PrimaryHeader activeURL="/" />

      <section class="mb-8">
        <WritingContent>
          <Bio />
        </WritingContent>
      </section>
    </div>
  </ThreeColumnLayout>
</Page>
