---
import Page from "../components/Page.astro";
import { getCollection } from "astro:content";
import TCLayout from "../components/TCLayout.astro";
import ProjectList from "../components/ProjectList.astro";

const posts = await getCollection("posts", ({ data }) => {
  if (data.draft) {
    return false;
  }

  return data?.category === "project";
});

posts.sort((a, b) => b.data.start - a.data.start);

const projects = posts.map((post) => {
  return {
    url: `/${post.id}`,
    title: post.data.title,
    meta: {
      start: post.data.start,
      end: post.data.end,
    },
    description: post.data.descriptions,
  };
});
---

<Page title="Projects">
  <TCLayout>
    <h1 slot="header">Projects</h1>

    <main>
      <ProjectList projects={projects} />
    </main>
  </TCLayout>
</Page>
