---
import { getEntry } from "astro:content";
import BlankLink from "./BlankLink.astro";

const bio = await getEntry("posts", "bio");

const links: { label: string; url: string; isExternal: boolean }[] = [];

const headerLinks: Record<string, string> = bio?.data?.["header-links"] || {};

if (headerLinks) {
  Object.entries(headerLinks).forEach(([label, url]) => {
    links.push({ label, url, isExternal: url.startsWith("http") });
  });
}
---

<nav>
  <ul class="nav-list">
    {
      links.map(({ label, url, isExternal }) => (
        <li class="nav-item">
          {isExternal ? (
            <BlankLink class="nav-link" href={url}>
              {label}
            </BlankLink>
          ) : (
            <a class="nav-link" href={url}>
              {label}
            </a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav-list {
    margin: 0;
    padding: 0;
    margin-block: 0.75rem;
    display: flex;
    gap: 1.5rem;
  }

  .nav-item {
    list-style: none;
  }

  .nav-link {
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: underline;
  }
</style>
