---
import Page from "../../components/Page.astro";
import PageHeading from "../../components/PageHeading.astro";
import PageTitle from "../../components/PageTitle.astro";
import ThreeColumnLayout from "../../components/ThreeColumnLayout.astro";
import TableOfContents from "../../components/TableOfContent/TableOfContent.astro";
import WritingContent from "../../components/WritingContent.astro";
import Sidebar from "../../components/Sidebar.astro";
import { getCollection, render } from "astro:content";
import { draftCollectionFilter } from "../../utils";

export async function getStaticPaths() {
  const nows = await getCollection("now", draftCollectionFilter);

  nows.sort(
    (after, before) =>
      before.data.publishDate?.getTime() - after.data.publishDate?.getTime(),
  );

  const renders = nows.map((now) => {
    return {
      params: { slug: now.id },
      props: {
        now,
      },
    };
  });

  renders.push({
    params: { slug: undefined as any },
    props: {
      now: nows[0],
    },
  });

  return renders;
}

const { now } = Astro.props;
const { Content, headings } = await render(now);

export const prerender = true;
const lastUpdated = now.data.lastUpdated?.toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "2-digit",
});
---

<Page title="Now">
  <ThreeColumnLayout>
    <article class="center">
      <PageHeading>
        <a class="text-sm" href="/">Back to Home</a>
        <PageTitle>Now</PageTitle>

        <div class="text-sm text-gray-400 dark:text-gray-400 flex space-x-3">
          last Updated on {lastUpdated}
        </div>
      </PageHeading>
      <WritingContent>
        <p>
          This is a <a target="_blank" href="https://nownownow.com/about"
            >now page</a
          >, and if you have your own site, you should make one, too.
        </p>
        <Content />
      </WritingContent>
    </article>
    <aside class="right">
      <Sidebar>
        <TableOfContents headings={headings} label="Table Of Content" />
      </Sidebar>
    </aside>
  </ThreeColumnLayout>
</Page>

<style is:global>
  .sidebar {
    @apply fixed top-20 pl-5;
  }
</style>
